@tailwind base;
@tailwind components;
@tailwind utilities;

.video-play{
background: rgb(0,0,0);
background: linear-gradient(98deg, rgba(0,0,0,1) 0%, rgba(161,101,169,1) 0%, rgba(231,152,91,1) 100%);
}
.plans-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
  
  .plans-container {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
.container {
    display: flex;
    align-items: center;
    /* background-color: #e0f2fe; Light blue background */
    padding: 10px;
    border-radius: 5px;
  }
  
  .discount {
    background-color: #ff4d4d; /* Red background */
    color: white;
    padding: 5px 10px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    padding-top: 1rem;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .price {
      border-top-right-radius:"20%";
    /* margin-left: 10px; */
  }
  
  .price span:first-child {
    font-size: 20px;
    font-weight: bold;
  }
  
  .price span:last-child {
    text-decoration: line-through;
    color: #999;
    font-size: 14px;
  }
  
  .description {
    margin-left: 10px;
    color: #555;
  }